<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feed Satoshi</title>
  <link href="../static/style.css" rel="stylesheet">
<style>

</style>
</head>

<body>

<h1 class="post-title p-name" itemprop="name headline">Feed Satoshi -  A place to learn</h1>
<p>Satoshi is an Adopted Yellow Bellow Slider 🐢 - Send him a snack😉  by scanning the qr code or <button type="button" onclick="copyEvent('copy')">Click here to copy LNURL Instead</button></p>
<p> going offline for now - Satoshi got a new tank and the Cameras and Feeder need to be reworked </p>


<script>
    function copyEvent(id)
    {
        var str = document.getElementById(id);
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy")
    }
</script>

<!-- Start Twitter Code-->
<div class="twitter">
<a class="twitter-timeline" data-lang="en" data-theme="dark" href="https://twitter.com/FeedSatoshi?ref_src=twsrc%5Etfw">Tweets by FeedSatoshi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
<!-- End Twitter Code-->

<!-- Start Twitch Code-->

<div class="twitch">
  <div class="twitch-video">
<!-- Add a placeholder for the Twitch embed -->
<div id="twitch-embed"></div>

<!-- Load the Twitch embed script -->
<script src="https://player.twitch.tv/js/embed/v1.js"></script>

<!-- Create a Twitch.Player object. This will render within the placeholder div -->
<script type="text/javascript">
  new Twitch.Player("twitch-embed", {
    channel: "feedsatoshi"
  });
</script> </div>
  </div>
<!-- End Twitch Code -->

<!--
<div class="myDiv">
  <h2>This is a heading in a div element</h2>
  <p>This is some text in a div element.</p>
</div>
-->

<p><strong><u>Feed Satoshi is in ALPHA</u> - Expect the unexpected & <em>PLEASE PLZ PLS Dont abuse Satoshi</em> :)</strong></p>

<div class="post-content cell cell-12 cell-med-9 e-content" itemprop="articleBody">
<h2 id="the-html">About the project</h2>
        <p>I’ve wanted to comibine my passion for bitcoin with my knowledge of engineering and computer science. This project demostrates the capability of Decentralized, Permisionless, Borderless Money. You can find us on <a href="https://twitter.com/FeedSatoshi">Twitter</a> to chat, ask questions or make suggestions to improve to project and the learning experience.  </p>
        
</p> I am using Twitch to live stream and have embeded it on this page to keep everything in one place! The Stream Delay is about 12 Seconds so please be patient when feeding Satoshi. <strong>Please Only feed him after there is no more food visible</strong> - Thank you and Enjoy!</p>

<h2 id="the-html">FAQ - New to Bitcoin?</h2>
</p>TLDR: Download <a href="https://www.walletofsatoshi.com/">Wallet of Satoshi</a> and Scan the QR to FeedSatoshi</p>

<h2 id="the-html">TODO</h2>
<ul>
	<li>Add more To FAQ</li>
    <li>Add more to TODO</li>
    <li>Add Twitter Feed to Site</li>
</ul>

      </div>


<p class="copy"  id="copy">LNURL1DP68GURN8GHJ7MR9VAJKUEPWD3HXY6T5WVHXXMMD9AKXUATJD3CZ7CTSDYHHVVF0D3H82UNV9UCNXVF3K8J36P</p>
</body>
</html>
